version: "3.8"

services:
  rancher:
    container_name: ogontaro_rancher
    image: rancher/rancher:v2.4.8
    restart: unless-stopped
    volumes:
      - ./containers/rancher/volume:/var/lib/rancher
    labels:
      - traefik.http.routers.rancher.rule=Host(`rancher.ogontaro.com`)
      - traefik.http.services.rancher.loadbalancer.server.port=80
      - ./containers/certs/certs-dump/ogontaro.com.crt:/etc/rancher/ssl/cert.pem
      - ./containers/certs/certs-dump/ogontaro.com.key:/etc/rancher/ssl/key.pem
      - ./containers/certs/certs-dump/letsencrypt.key:/etc/rancher/ssl/cacerts.pem

  reverse-proxy:
    container_name: ogontaro_reverser_proxy
    image: traefik:v2.3
    restart: unless-stopped
    ports:
      # The HTTP port
      - 80:80
      - 443:443
      # SSH port
      - 22:22
      # The Web UI (enabled by --api.insecure=true)
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./containers/traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./containers/certs/:/certs/

  traefik-certs-dumper:
    container_name: ogontaro_certs-dumper
    image: ldez/traefik-certs-dumper:v2.7.0
    entrypoint: sh -c 'apk add jq ; while ! [ -e /data/acme.json ] || ! [ `jq ".Certificates | length" /data/acme.json` != 0 ]; do sleep 1 ; done && traefik-certs-dumper file --watch --version v2 --source /data/acme.json --dest /data/certs-dump'
    volumes:
      - ./containers/certs:/data
